// Base mana colors
$white: rgb(249, 250, 244);
$white-secondary: rgb(248, 231, 185);
$black: rgb(21, 11, 0);
$black-secondary: rgb(166, 159, 157);
$green: rgb(0, 115, 62);
$green-light: rgb(196, 211, 202);
$blue: rgb(14, 104, 171);
$blue-light: rgb(179, 206, 234);
$red: rgb(211, 32, 42);
$red-light: rgb(235, 159, 130);
