// Base mana colors
$mana-white: rgb(249, 250, 244);
$mana-white-secondary: rgb(248, 231, 185);
$mana-black: rgb(21, 11, 0);
$mana-black-secondary: rgb(166, 159, 157);
$mana-green: rgb(0, 115, 62);
$mana-green-light: rgb(196, 211, 202);
$mana-blue: rgb(14, 104, 171);
$mana-blue-light: rgb(179, 206, 234);
$mana-red: rgb(211, 32, 42);
$mana-red-light: rgb(235, 159, 130);
