// Base mana colors
$mana-white: rgb(249, 250, 244);
$mana-white-secondary: rgb(248, 231, 185);
$mana-black: rgb(21, 11, 0);
$mana-black-secondary: rgb(166, 159, 157);
$mana-green: rgb(0, 115, 62);
$mana-green-light: rgb(196, 211, 202);
$mana-blue: rgb(14, 104, 171);
$mana-blue-light: rgb(179, 206, 234);
$mana-red: rgb(211, 32, 42);
$mana-red-light: rgb(235, 159, 130);

// Solarized palette
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// MTG palette
$base03:  darken($mana-black-secondary, 50);
$base02:  darken($mana-black-secondary, 45);
$base01:  darken($mana-black-secondary, 35);
$base00:  darken($mana-black-secondary, 5);
$base0:   $mana-black-secondary;
$base1:   lighten($mana-black-secondary, 20);
$base2:   lighten($mana-black-secondary, 30);
$base3:   lighten($mana-black-secondary, 35);
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     $mana-red;
$magenta: $mana-red-light;
$violet:  #6c71c4;
$blue:    $mana-blue;
$cyan:    $mana-blue-light;
$green:   $mana-green;

@mixin mtg_button_group() {
  .button-group {
    .button, button {
      border-radius: 0;
      &:first-child {
        border-top-left-radius: $global-radius;
        border-bottom-left-radius: $global-radius;
      }
      &:last-child {
        border-top-right-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
      }
    }
  }
}
